@model EDSU_SYSTEM.Models.VcApplication

@{
    ViewData["Title"] = "Details";
}

<div id="PlaceHolderHere"></div>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <div class="widget-content-area br-4 p-3">
                        <div class="widget-one p-3">
                            <div class="row">
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Name:</span><br/> @Model.FullName
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Email:</span><br /> @Model.Email
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Phone:</span><br /> @Model.Phone
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Gender:</span><br /> @Model.Gender
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">P. Address:</span><br/> @Model.PermanentAddress
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">C. Address:</span><br /> @Model.ContactAddress
                                </div>
                               <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Nationality:</span><br /> @Model.Nationalities.Name
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">State Of Origin:</span><br /> @Model.States.Name
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">LGA:</span><br /> @Model.Lgas.Name
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">First Appointment Date:</span><br/> @Model.FirstAppointment
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Became a Professor on:</span><br/> @Model.ToProfessor
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Institution:</span><br /> @Model.Institution
                                </div>
                                
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Qualification:</span><br /> @Model.Qualifications
                                </div>
                            </div>
                            <hr/>
                           <div class="row">
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Position:</span><br/> @Model.Position
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Administrative Experience:</span><br/> @Model.AdministrativeExperiences
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Professional Experience:</span><br/> @Model.ProfessionalExperiences
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-sm-12">
                                    <span style="font-weight:bold">Communication Skills:</span><br/> @Model.CommunicationSkills
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->




