@model EDSU_SYSTEM.Models.AssetFinance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssetFinance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EuslAssests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EuslAssests.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductionStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductionStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorSalaryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorSalaryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceOfAsset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceOfAsset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxMonthForDeduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxMonthForDeduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductionStartMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductionStartMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
