@using static EDSU_SYSTEM.Models.Enum

@model IEnumerable<EDSU_SYSTEM.Models.UgMainWallet>

@{
    ViewData["Title"] = "Index";
}

<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <!-- Content -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">
                    Students' Main Wallets
                    <div class="widget-content widget-content-area br-6">
                        <table id="html5-extension" class="table table-hover non-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Wallet
                                    </th>
                                    <th>
                                        Credit
                                    </th>
                                    <th>
                                        Debit
                                    </th>
                                    
                                    <th>
                                        Status
                                    </th>
                                    <th>Action</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WalletId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreditBalance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BulkDebitBalanace)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <a asp-action="sub" asp-controller="bursaryclearances" asp-route-id="@item.WalletId" class="btn btn-primary">View</a>
                                        </td>
                                        <form asp-action="StudentType">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                
                                        <td>
                                            <select asp-for="@item.StudentType" class="form-control" asp-items="@Html.GetEnumSelectList<StudentType>()"></select>
                                        </td>
                                       
                                        <td>
                                            <div class="form-group">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </td>
                                        </form>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
