@model IEnumerable<EDSU_SYSTEM.Models.HostelAllocation>

@{
    ViewData["Title"] = "Index";
}


<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <!-- Content -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">
                    <a asp-action="back" class="btn btn-dark mb-1">Create New</a>
                    <h2>Room Details</h2>
                    <div class="widget-content widget-content-area br-6">
                        <table id="html5-extension" class="table table-hover non-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Hostels.Name)
                                    </th>
                                    <th>
                                        Room
                                    </th>
                                    <th>
                                        Student
                                    </th>
                                    <th>
                                       Wallet ID
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Hostels.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HostelRooms.RoomNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UgMainWallets.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UgMainWallets.Id)
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
