@model IEnumerable<EDSU_SYSTEM.Models.PgSubWallet>

@{
    ViewData["Title"] = "";
}

 <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">

            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a asp-action="index" asp-controller="home">

                    <img src="~/logo.png" class="navbar-logo" alt="logo" />
                </a>
                </li>
                <li class="nav-item theme-text">
                <a asp-action="index" asp-controller="home"> EDO STATE UNIVERSITY UZAIRUE  </a>
                </li>
            </ul>

        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Applicant</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

   
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">

                <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto layout-spacing">
                    <div class="widget widget-chart-one">
                        @*<a asp-action="index" asp-controller="student_affairs" class="btn btn-secondary">Submit an appeal</a>
                        <a asp-action="preview" asp-controller="admissions" asp-route-utme="@ViewBag.utme" class="btn btn-primary">Print Clearance Slip</a>
                        <a asp-action="receipts" asp-controller="hostels" class="btn btn-warning">Request for a room</a>*@
                         <div class="widget-content widget-content-area br-6">
                            <table id="example" class="table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Payment Type
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Session
                                        </th>
                                        <th>Actions</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        @if (item.AcceptanceFee != 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Acceptance Fee</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.AcceptanceFee</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>

                                                <td>
                                                    <a asp-action="Acceptance" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>

                                            </tr>
                                        }
                                       @if (item.Tuition != 0 && item.Tuition > item.FortyPercent)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Tuition (100%)</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Tuition</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>
                                                <td>
                                                    <a asp-action="Tuition" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>

                                            </tr>
                                        }
                                        @if (item.SixtyPercent != 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Tuition (60%)</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.SixtyPercent</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>
                                                <td>
                                                    <a asp-action="Tuition60" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>

                                            </tr>
                                        }
                                        @if (item.FortyPercent != 0 && item.SixtyPercent == 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Tuition (40%)</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.FortyPercent</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>
                                                <td>
                                                    <a asp-action="Tuition40" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>

                                            </tr>
                                        }

                                        @if (item.LMS != 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Learning Management System</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.LMS</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>
                                                <td>
                                                    <a asp-action="LMS" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>
                                            </tr>
                                        }
                                        @if (item.EDHIS != 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Edo State Health Insurance Scheme</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.EDHIS</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>
                                                <td>
                                                    <a asp-action="EDHIS" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>
                                            </tr>
                                        }
                                        @if (item.SRC != 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Student Rep. Council</label>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.SRC</h6>
                                                </td>
                                                <td>
                                                    <h6 class="">@item.Sessions.Name</h6>
                                                </td>
                                                <td>
                                                    <a asp-action="SRC" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>
                                                </td>
                                            </tr>
                                        }
                                      <tr>
                                        <td>
                                            <label>Tuition Custom Payment</label>
                                        </td>
                                        <form asp-action="Custom" method="post">
                                            <td>
                                                <input name="amount" class="form-control" />
                                                <input asp-for="@item.WalletId" name="id" hidden class="form-control" />
                                            </td>
                                            <td>
                                                <h6 class="">@item.Sessions.Name</h6>
                                            </td>
                                            <td>
                                                <input type="submit" class="btn btn-primary" value="Proceed" />
                                            </td>
                                        </form>
                                    </tr>
                                        <tr>
                                            <td>
                                                <label>Other(s)</label>
                                            </td>
                                            <td>Pick other payment in the next page</td>
                                            <td>👉</td>
                                            <td>
                                                <a asp-action="Others" asp-controller="pgapplicants" asp-route-id="@item.WalletId" class="btn btn-primary">Proceed</a>

                                            </td>

                                        </tr>
                                        @*<tr>
                                            <td>
                                                <label>Hostel Application</label>
                                            </td>
                                            <td>Select hostel type to continue</td>
                                            <td>👉</td>
                                            <td>
                                               <a asp-action="applicantchoice" asp-controller="hostels" asp-route-utme="@item.WalletId" class="btn btn-primary">Proceed</a>
                                             
                                            </td>

                                        </tr>*@
                                    }

                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->
