@model EDSU_SYSTEM.Models.Staff
<div class="nav row">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>
<style>
    #text-content {
        max-height: 3em;
        overflow: hidden;
    }

        #text-content.expanded {
            max-height: none;
            overflow: visible;
        }
</style>
<section class="news">

    <div class="heading">
        <h1>Staff Directory</h1>
    </div>
    <div >
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mx-auto layout-spacing">
            <div class="widget-content-area br-4 p-3">
                <div class="row">
                    <div class="col-md-3">
                        <span style="font-weight:bold">Surname:</span>  @Model.Surname
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Firstname:</span> @Model.FirstName
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Othername(s):</span> @Model.MiddleName
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Phone:</span> @Model.Phone
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <span style="font-weight:bold">Sex:</span> @Model.Sex
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Religion:</span> @Model.Religion
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Marital Status:</span> @Model.MaritalStatus
                    </div>
                     <div class="col-md-3">
                        <span style="font-weight:bold">Nationality:</span> 
                        @if (Model.Nationalities != null)
                        {
                            @Model.Nationalities.Name
                        }
                        else
                        {
                            @("N/A")
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <span style="font-weight:bold">State:</span>
                        @if (Model.States != null)
                        {
                            @Model.States.Name
                        }
                        else
                        {
                            @("N/A")
                        }
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">LGA:</span> 
                        @if (Model.LGAs != null)
                        {
                            @Model.LGAs.Name
                        }
                        else
                        {
                            @("N/A")
                        }
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Type:</span> 
                        @if (Model.Types != null)
                        {
                            @Model.Types.Name
                        }
                        else
                        {
                            @("N/A")
                        }
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Position:</span>
                        @if (Model.Positions != null)
                        {
                            @Model.Positions.Name
                        }
                        else
                        {
                            @("N/A")
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    
                    <div class="col-md-3">
                        <span style="font-weight:bold">Email:</span><br/> @Model.Email
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">EDSU-Email:</span><br/> @Model.SchoolEmail
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Department:</span>
                        @if (Model.Departments != null)
                        {
                            @Model.Departments.Name
                        }
                        else
                        {
                            @("N/A")
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    
                    <div class="col-md-3">
                        <span style="font-weight:bold">Highest Degree:</span> @Model.HighestQualification
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Field Of Study:</span> @Model.FieldOfStudy
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">AOS:</span> @Model.AreaOfSpecialization
                    </div>
                </div>
                <hr />
                    
                <div class="row">
                    <div class="col-md-3">
                        <span style="font-weight:bold">ORCID:</span><br/> @Model.ORCID
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Research ID:</span><br/> @Model.ResearcherId
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Google Scholar:</span><br/> @Model.GoogleScholar
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">ResearchGate:</span><br/> @Model.ResearchGate
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <span style="font-weight:bold">Academia:</span><br/> @Model.Academia
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">LinkedIn:</span><br/> @Model.LinkedIn
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Mendeley:</span><br/> @Model.Mendeley
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight:bold">Scopus:</span><br /> @Model.Scopus
                    </div>
                </div>
                    
            <hr />
                        
            </div>
        </div>
    </div>
   
    <!--  END CONTENT AREA  -->


</section>

<partial name="_Footer" />


